img{
    height: 50px;
}
#twodown{
    padding-left: 30px;
}
#program{
    padding-left: 50px;
}
#sicon{
    margin-right: 40px;
    margin-top: 6px;
}
#login{
    margin-right: 50px;
}
#join{
    width: 130px;
    margin-right: 80px;
    border: 1px solid none;
    border-radius: 30px;
    background-image: linear-gradient( to left,#0048ff,#0096ff) ;
}